body {
  background-color: #1a1a1a;
  color: gray;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin-bottom: 20px; 
}

.password-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#password {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #333;
  color: #fff;
}

#copyButton {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#copyButton:hover {
  background-color: #555;
}

label {
  display: inline-block;
  margin-right: 10px;
}


input[type="checkbox"] {
  float: right; 
  margin-left: 10px;
}

input[type="number"],
input[type="checkbox"] {
  vertical-align: middle;
}

button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  text-align: center;
  color: #888;
  background-color: #222;
  padding: 10px;
  width: 50%; 
}
